
<div class="container my-5">

  <footer class="text-center text-lg-start text-white bg-dark">

    <div class="container p-4 pb-0">

      <section class="">

        <div class="row">

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" style="width: 400px;">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              E-Technology
            </h6>
            <p>
              In the bustling city of Silicon Valley, a young entrepreneur named Alex Thompson harbored a dream. With a background in technology and a passion for innovation, Alex envisioned creating an e-commerce platform that would revolutionize the way people bought and sold technology products. This dream was the birth of E-Technology.
            </p>
          </div>


      


          <hr class="w-100 clearfix d-md-none" />


          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" routerLink="/personal">Your Account</a>
            </p>
            <p>
              <a class="text-white" routerLink="/about">About Us</a>
            </p>
            <p>
              <a class="text-white" routerLink="/cart">Cart</a>
            </p>
            <p>
              <a class="text-white" routerLink="/">Home</a>
            </p>
          </div>


          <hr class="w-100 clearfix d-md-none" />


          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Tbilisi,GEO</p>
            <p><i class="fas fa-envelope mr-3"></i> infoexample.com</p>
            <p><i class="fas fa-phone mr-3"></i> + (995) 511 111 111</p>
            <p><i class="fas fa-print mr-3"></i> +(995) 522 222 222</p>
          </div>

        </div>

      </section>


      <hr class="my-3">


      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">

          <div class="col-md-7 col-lg-8 text-center text-md-start">
  
            <div class="p-3">
              © 2024 Copyright:
              <a class="text-white">PlayCosmo</a>
            </div>
    
          </div>
     

        
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
     
            <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>

          
            <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>

       
            <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-google"></i></a>

         
            <a class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
          </div>
      
        </div>
      </section>
 
    </div>

  </footer>

</div>
