<h2 mat-dialog-title class="bg-danger">Evaluate</h2>
<div mat-dialog-content class="bg-info p-2">
  <input matInput [(ngModel)]="name" placeholder="Name">
  <input matInput [(ngModel)]="surname" placeholder="Surname">
  <div class="star-rating">
    <i class="material-icons" (click)="setRating(1)" [class.selected]="rating >= 1">star</i>
    <i class="material-icons" (click)="setRating(2)" [class.selected]="rating >= 2">star</i>
    <i class="material-icons" (click)="setRating(3)" [class.selected]="rating >= 3">star</i>
    <i class="material-icons" (click)="setRating(4)" [class.selected]="rating >= 4">star</i>
    <i class="material-icons" (click)="setRating(5)" [class.selected]="rating >= 5">star</i>
  </div>
</div>
<div mat-dialog-actions class="bg-danger">
  <button mat-button (click)="onCancel()" class="btn btn-danger">Cancel</button>
  <button mat-button (click)="onOk()" class="btn btn-success">Ok</button>
</div>
