<div class="card ms-4 mt-2 p-3" style="width: 300px;">
    <h1 class="text-center mb-4">Filter Bar</h1>
    
    <div class="d-flex flex-column gap-3 w-100">
  
      <div class="d-flex flex-column gap-2 text-center">
        <label class="form-label text-bg-dark p-2">Categories (Laptops, Phones)</label>
        <input class="form-control" type="text" placeholder="Categories" [(ngModel)]="categories">
      </div>
      <button class="btn btn-info mb-3 w-100" (click)="categoryInfo()">Filter by Category</button>
      

      <div class="d-flex flex-column gap-2 text-center">
        <label class="form-label text-bg-dark p-2">Brands</label>
        <input class="form-control" type="text" placeholder="Brands" [(ngModel)]="brands">
      </div>
      <button class="btn btn-info mb-3 w-100" (click)="brandInfo()">Filter by Brand</button>
      

      <div class="d-flex flex-column gap-2 text-center">
        <label class="form-label text-bg-dark p-2">Price</label>
        <div class="d-flex gap-2">
          <input class="form-control" type="number" placeholder="Min" [(ngModel)]="minPrice">
          <input class="form-control" type="number" placeholder="Max" [(ngModel)]="maxPrice">
        </div>
      </div>
      <button class="btn btn-info mb-3 w-100" (click)="minMaxPrice()">Filter by Price</button>
      

      <div class="d-flex flex-column gap-2 text-center">
        <label class="form-label text-bg-dark p-2">Rating</label>
        <input class="form-control" type="number" placeholder="Rating" [(ngModel)]="rating">
      </div>
      <button class="btn btn-info mb-3 w-100" (click)="ratingInfo()">Filter by Rating</button>
    </div>
  </div>