.card {
    background-color: #343a40; 
    color: #fff;
    border: 1px solid #495057;
  }
  
  .card-title {
    background-color: #17a2b8; 
    color: #fff;
  }
  
  .list-group-item {
    background-color: #495057; 
    color: #fff; 
  }
  
  .btn {
    border-radius: 0; 
  }