<button class="btn btn-danger mb-4" (click)="clearAll()">Clear ALL Cart</button>

<section  class="d-flex flex-wrap justify-content-center align-items-center gap-3 p-3" style="width:100%; height: auto;">
  <div *ngFor="let item of cartDetals" class="card p-1 text-center bg-dark text-white mt-3 mb-3" style="width: 18rem;">
    <img [src]="item.thumbnail" width="300" height="250" class="card-img-top w-75 d-flex pt-1 rounded" style="margin:5px auto;" alt="{{item.title}}"/>
    <div class="card-body">
      <h5 class="card-title bg-info p-2" style="cursor: pointer;">{{item.title}}</h5>
    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">Stock: {{item.stock}}</li>
      <li class="list-group-item px-4">Rating: {{item.rating}}</li>
      <li class="list-group-item px-4">Ratings: {{item.ratings.value}}</li>
      <li class="list-group-item px-4">Price: {{item.price.current | currency}}</li>
      <li class="list-group-item px-4">
        <button class="btn btn-success me-2">+</button>
          quantity
        <button class="btn btn-danger">-</button>
      </li>
    </ul>
    <div class="card-body">
      <button class="btn btn-danger w-50" (click)="deleteFromCart(item)">Delete</button>
    </div>
  </div>
</section>

<section *ngIf="cartdetalslength === 0" class="d-flex justify-content-center align-items-center" style="height: 200px;">
  <h2 class="text-white">Your cart is empty</h2>
</section>